*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg: #121214;
  --bg-light: #202024;
  --line: rgba(225, 225, 230, 0.1);
  --primary: #29bf12;
  --primary-light: rgba(41, 191, 18, 0.7);
  --disabled: rgba(41, 191, 18, 0.4);
  --white: #e1e1e6;
}

body{
  background-color: var(--bg);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.left{
  width: 456px;
  max-width: 480px;
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  gap: 60px;
}

section.left h1{
  font-size: 54px;;
  line-height: 64px;
}

section.right{
  background-color: var(--bg-light);
  width: 480px;
  max-width: 480px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 64px;
  border-radius: 5px;
}

section.right a{
  color: var(--primary-light);
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

section.right a:hover{
  color: var(--primary);
}

section.right input{
  width: 352px;
  height: 50px;
  font-size: 16px;
  background: var(--bg);
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 15px 21px;
}

section.right input:focus{
  outline: 2px solid var(--primary);
  transition: border 0.2s ease;
}

section.right button{
  margin-top: 15px;
  width: 352px;
  height: 50px;
  background-color: var(--disabled);
  color: var(--white);
  cursor: not-allowed;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.ask{
  margin: 10px;
  width: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 352px;
}

.hr hr{
  border: 0.5px solid var(--line);
  width: 100px;
}

.github{
  width: 352px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.right div span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  margin-top: 13px;
  color: var(--white);
  font-size: 14px;
}

section.right div button.btngithub{
  width: 244px;
  height: 50px;
  background: #29292e;
  cursor: pointer;
}

section.right div button i.btngithub{
  width: 19.38px;
  height: 18.89px;
  color: var(--primary);
}

section.right div button.btngithub:hover{
  background: var(--primary);
  color: var(--white);
}